.apartmentCard{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 10px;

}

.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    opacity: 0.6;
    border-radius: 10px;
}

.apartmentName{
    position: absolute;
    color:white;
    left: 5.88%;
    right: 5.88%;
    top: 73.73%;
    bottom: 5.88%;
}

@media screen and (max-width: 600px) {
    .apartmentCard{
        width: inherit;
        margin-right: 0;
        margin-left: 0;
    }
}