.collapse{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    height: 30px;
    border-radius: 15px;
    padding: 10px;
    z-index: 99;
    position: relative;
}

.title{
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.chevronDown{
    margin-right: 10px;
    width: 20px;
}

.chevronDown:hover{
    cursor: pointer;
}

.chevronUp{
    margin-right: 10px;
    width: 20px;
}

.chevronUp:hover{
    cursor: pointer;
}

.content{
    background-color: #F6F6F6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    z-index: -1;
    margin-top: -10px;
}

@media screen and (max-width: 600px){

    .title{
    font-size: 14px;
    }

    .content{
    font-size:14px;
    }

}
