.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    min-width: fit-content;
}

.image{
    height: 40px;
    width: 120px;
}

.linksContainer{
    display: flex;
    flex-wrap: nowrap;
}

.links{
    text-decoration: none;
    font-size: 24px;
    color: #FF6060;
    font-weight: 500;
    margin-left: 10vw;
    white-space: nowrap;;
}

.links:hover{
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .links{
        text-transform: uppercase;
        font-size: 16px;
        margin-left: 5vw;
    }
}

@media screen and (max-width: 400px) {
    .links{
        font-size: 12px;
        margin-left: 3vw;
    }
}