.homeBody{
    margin-left: 5%;
    margin-right: 5%;
}

.topSection{
    height: 223px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/home-top-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topSectionTitle{
    color: white;
    font-weight: 500;
    font-size: 40px;
    margin: 5%;
}

.apartmentsList{
    height: fit-content;
    margin-top: 5vw;
    margin-bottom:5vw;
    background: #F7F7F7;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


@media screen and (max-width: 600px) {
   .topSectionTitle{
    font-size: 36px;
   }

   .apartmentsList{
    background-color: white;
   }
}

@media screen and (max-width: 400px) {
    .topSectionTitle{
        font-size: 28px;
    }
}